.index_page {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../pics/index_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1265px;
    min-height: 632px;
}


/*.inner {
    border: 2pt solid;
}
*/
#index_tv {
    position: absolute;
    width: 130pt;
    height: 170pt;
    top: 185pt;
    left: 140pt;
}

#index_picframe {
    position: absolute;
    width: 300pt;
    height: 120pt;
    top: 150pt;
    left: 360pt;
}

#index_book {
    position: absolute;
    width: 100pt;
    height: 150pt;
    top: 290pt;
    left: 650pt;
}

.material-icons.index_icon {
    color: #708090;
    opacity: 0.85;
    position: relative;
    top: 15pt;
    left: 15pt;
}
