/** {
    border: 2pt solid;
}*/

#photo_page {
    position: absolute;
    height: 100%;
    background-image: url("../pics/Hcx2E6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1265px;
    min-height: 632px;
}

#pic_button {
    position: absolute;
    top: 75pt;
    left: 100pt;
    width: 100pt;
    height: 300pt;
    display: inline-block;
}

#pic_back,
#pic_up,
#pic_down {
    position: absolute;
    width: 50pt;
    height: 50pt;
}

#pic_back {
    top: 10pt;
    left: 7pt;
}

#pic_up {
    top: 100pt;
}

#pic_down {
    top: 225pt;
}

.photo {
    position: relative;
    left: 175pt;
    top: 50pt;
    height: 350pt;
    width: 700pt;
}

.back {
    position: relative;
    top: 85pt;
}

.p_like {
    position: relative;
    top: 110pt;
    left: 49pt;
    text-align: center;
}

.p_like.unlike {
    color: #b31217;
}

.p_like.like {
    color: #3B5998;
}

.photo_info {
    text-align: center;
    position: relative;
    font-family: 'Merienda One', Helvetica, sans-serif;
    top: 0pt;
    height: 22px;
    overflow:hidden;
}

img {
    position: absolute;
    left: 7pt;
}

.photo_box {
    position: relative;
    display: inline-block;
    margin: 5pt;
    width: 120pt;
    height: 150pt;
    box-shadow: 0 4pt 8pt 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: ivory;
    opacity: 0.95;
    /*    border: 2pt dotted;*/
}

.photo_box:hover {
    box-shadow: 0 8pt 16pt 0 rgba(0, 0, 0, 0.2);
}
