#bookmark_page.content_page{
	background-image: url(../pics/colorful.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    height: 8000pt;
}
.bookmark_pics {
    position: absolute;
    width: 40%;
    top: 20pt;
    left: 60pt;
}

#bookmark_back {
    position: fixed;
    left: 18pt;
    top: 280px;
}
