body,
html {
    /*height: 100%;*/
    height: 100%;
    width: 100%;
}

.page {
    position: relative;
    height: 100%;
    width: 100%;
    /*background-color: brown;*/
}

.content_page {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    /*    background-color: yellow;*/
}

.bookmark {
    height: 50pt;
    width: 50pt;
    background-color: yellow;
}

.video {
    height: 50pt;
    width: 50pt;
    display: none;
}

.video_back {
    width: 100pt;
    position: absolute;
    top: 30pt;
    left:10pt;
}

#video_page{
    background-image: url(../pics/colorful.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 250%;
}

.c-1 {
    left: 50pt;
    width: 93%;
    height: 85%;
    position: relative;
}

#vprev {
    position: absolute;
    left: -10px;
    top: 200px;
}

.c-2 {
    position: absolute;
    display: inline-block;
    width: 900pt;
    height: 500px;
}

#vnext {
    position: absolute;
    left: 890pt;
    top: 200px;
}

.c-3 {
    position: absolute;
    top: 20pt;
    left: 20pt;
    width: 850pt;
    height: 350px;
}

.c-4 {
    position: absolute;
    top: 450px;
    left: 80pt;
    width: 900px;
    height: 100px;
}

.c-5 {
    height: 300px;
    width: 500px;
}

.c-6 {
    position: relative;
    text-align: left;
    top: -20px;
    left: 120pt;
    width: 360pt;
    height: 360pt;
}

.thumbnail {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    position:relative;
    left:50px;
}

.fa.fa-thumbs-up {
    color: #b31217;
}

.fa.fa-thumbs-o-up {
    color: #3b5998;
}

.favV {
    display: inline-block;
    width: 480px;
    height:270px;
    left: 600pt;
}
.bv{
    position: relative;
    margin: 10pt;
    top:30pt;
    left:500pt;
    width: 500px;
}